.input-box
  form(action='/findfasteign')
    .custom-input
      input(placeholder="Kennitala" value="" name="kennitala")
    .custom-input
      input(placeholder="Heimilisfang" value="" name="address")
    .custom-input
      input(type="submit",value="Áfram" class="red-button")